@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #050505;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
